html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #161616;
  font-family: Gotham, sans-serif;
}

#globe-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
}

/* Colonna laterale scrollabile */
#side-column {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 16vw; /* Aumentata la larghezza della colonna */
  overflow-y: scroll; /* Mantenuto scroll per funzionalità */
  padding: 2vh 3vw; /* Aggiunto più padding ai lati e sopra/sotto */
  backdrop-filter: blur(10px); /* Aggiunto blur per sfondo */
  z-index: 15;  /* Posiziona sopra il globo */
}

/* Nascondi la scrollbar per un aspetto più pulito */
#side-column::-webkit-scrollbar {
  display: none;
}

#side-column {
  -ms-overflow-style: none;  /* IE e Edge */
  scrollbar-width: none;  /* Firefox */
}

#side-column .item {
  display: flex;
  flex-direction: column;
  height: 20vh;
  align-items: center;
  margin-bottom: 2vh;
  background: #9CC9C6; /* Colore di fondo */
  border-radius: 8px;
  overflow: hidden;
}


#side-column img {
  width: 100%;
  height: 90%;
  object-fit: cover;
}

#side-column p {
  margin: 0;
  padding: 1vh;
  padding-left: 1vw;
  background: #e0e0e0;
  width: 100%;
  text-align: left;
}


/* Stili per i testi informativi (rimosso poiché non più usati) */
.info-text {
  display: none; /* Nasconde i vecchi info box */
}

